@model Commom.Dto.Solicitacao.FormularioDto

@{
    ViewData["Title"] = "Detalhes";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Retorno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Retorno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enviado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enviado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CampoAplicacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CampoAplicacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundamentosInvencao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FundamentosInvencao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoTecnica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoTecnica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Problemas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problemas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Solucaoinvencao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Solucaoinvencao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vantagens)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vantagens)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoDesenhos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescricaoDesenhos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoInvencao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescricaoInvencao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create" asp-route-id="@Model.Solicitacao" class="btn btn-primary">Nova versão</a> |
    <a asp-action="Index" asp-controller="Solicitacao" class="btn btn-primary">Voltar</a>
</div>
